DJANGO_SECRET_KEY=changeme
DATABASE_URL=postgres://erp_user:erp_password@db:5432/erpv
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=erpv
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=erp_password
DEBUG=1
PORT=8000
CURRENCY_SYMBOL=£
ALLOWED_HOSTS=localhost,127.0.0.1
DB_SSL_REQUIRE=0
SECRETKEY=changeme
LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=WARNING
DB_LOG_LEVEL=WARNING
