# Production dependencies
asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
confusable-homoglyphs==3.3.1
crispy-bootstrap5==2026.3
cssselect2==0.9.0
dj-database-url==3.1.2
Django==6.0.3
django-cors-headers==4.9.0
django-admin-inline-paginator==0.4.0
django-crispy-forms==2.5
django-registration==5.2.1
fonttools==4.61.1
gunicorn==25.1.0
httpx==0.28.1
pillow==12.1.1
psycopg2-binary==2.9.11
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dotenv==1.2.1
qrcode[pil]==8.2
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.4.1
