dj-database-url==2.3.0
Django==5.0.3
django-admin-inline-paginator==0.4.0
django-filter==25.1
djangorestframework==3.15.2
gunicorn==21.2.0
Markdown==3.7
psycopg2-binary==2.9.9
pytest-cov==5.0.0
pytest-django==4.8.0
python-dotenv==1.0.1
whitenoise==6.6.0
