dj-database-url==3.1.0
Django==6.0.2
django-admin-inline-paginator==0.4.0
gunicorn==25.0.2
psycopg2-binary==2.9.11
pytest-cov==7.0.0
pytest-django==4.11.1
python-dotenv==1.2.1
whitenoise==6.11.0
factory-boy==3.3.3
faker==40.4.0