{% extends "includes/card.html" %}
{% load crispy_forms_tags %}
{% block card_icon %}bi-people-fill{% endblock %}
{% block card_title %}{% if supplier %}Edit Supplier{% else %}New Supplier{% endif %}{% endblock %}
{% block card_body %}
{% if form.errors %}
<div class="alert alert-danger">
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if supplier %}
<h1>Edit Supplier</h1>
{% else %}
<h1>New Supplier</h1>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}