{% extends "includes/card.html" %}
{% load currency_tags %}
{% block card_icon %}bi-truck{% endblock %}
{% block card_title %}Products for {{ view.kwargs.pk }}{% endblock %}
{% block card_body %}
<table class="table">
  <thead>
    <tr><th>Product</th><th>Cost</th></tr>
  </thead>
  <tbody>
  {% for sp in supplier_products %}
    <tr>
      <td>{{ sp.product.name }}</td>
      <td>{{ sp.cost|currency }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="2">No products found.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" with page_obj=supplier_products page_param="sp_page" %}
{% endblock %}