{% extends "base.html" %}

{% block content %}
<h1>User List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Groups</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                
                <td>
                    {% if user.groups.exists %}
                        {% for group in user.groups.all %}
                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        <em>No groups assigned</em>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No users found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}