<li class="nav-item">
    <a href="{% url 'inventory:inventory-dashboard' %}" class="nav-link align-middle px-0">
        <i class="bi bi-box-seam me-2"></i>Inventory
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'procurement:procurement-dashboard' %}" class="nav-link align-middle px-0">
        <i class="bi bi-cart-plus me-2"></i>Procurement
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'sales:sales-dashboard' %}" class="nav-link align-middle px-0">
        <i class="bi bi-cart4 me-2"></i>Sales
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'production:production-dashboard' %}" class="nav-link align-middle px-0">
        <i class="bi bi-gear-fill me-2"></i>Production
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'finance:finance-dashboard' %}" class="nav-link align-middle px-0">
        <i class="bi bi-cash-coin me-2"></i>Finance
    </a>
</li>