{% extends "base.html" %}
{% load currency_tags %}
{% block content %}
<h1>Sales Orders for {{ view.kwargs.pk }}</h1>
<table class="table">
  <thead>
    <tr><th scope="col">Order #</th><th scope="col">Date</th><th scope="col">Status</th><th scope="col">Total</th></tr>
  </thead>
  <tbody>
  {% for order in sales_orders %}
    <tr>
      <td>{{ order.order_number }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.total_amount|currency }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="4">No orders found.</td></tr>
  {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" with page_obj=sales_orders %}
{% endblock %}
