{% extends "includes/card.html" %}
{% load crispy_forms_tags %}
{% block card_icon %}bi-person-lines-fill{% endblock %}
{% block card_icon_color %}page-header-icon--indigo{% endblock %}
{% block card_title %}{% if object %}Edit Customer Contact{% else %}New Customer Contact{% endif %}{% endblock %}
{% block card_body %}
{% if form.errors %}
<div class="alert alert-danger">
    <ul class="mb-0">
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% if object %}{% url 'sales:customer-detail' object.customer.pk %}{% else %}#{% endif %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
