<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
            <li class="nav-item">
                <a class="nav-link me-auto" href="{% url 'dashboard' %}">ERPv</a>
            </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">Logout: {{ user.username }}</button>
                </form>
            </li>
        </ul>
    </div>
</nav>