<div class="sidemenu col-auto col-md-3 col-lg-3 col-xl-2 px-sm-2 px-0 bg-dark py-5" data-bs-theme="dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <button class="btn btn-outline-light d-md-none mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidemenuLinks" aria-expanded="false" aria-label="Toggle sidebar">
            &#9776; Menu
        </button>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start collapse d-md-block" id="sidemenuLinks">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link align-middle px-0">
                    <i class="bi bi-speedometer2 me-2"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'inventory:inventory-dashboard' %}" class="nav-link align-middle px-0">
                    <i class="bi bi-box-seam me-2"></i>Inventory
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'procurement:procurement-dashboard' %}" class="nav-link align-middle px-0">
                    <i class="bi bi-cart-plus me-2"></i>Procurement
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'sales:sales-dashboard' %}" class="nav-link align-middle px-0">
                    <i class="bi bi-currency-dollar me-2"></i>Sales
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'production:production-dashboard' %}" class="nav-link align-middle px-0">
                    <i class="bi bi-gear-fill me-2"></i>Production
                </a>
            </li>
        </ul>
    </div>
</div>